.modal-backdrop {
    --bs-backdrop-zindex: 1049 !important;
}
.note-editable {
    min-height: 200px;
}
.dataTables_wrapper .dataTables_paginate a.paginate_button.current {
    background: #263544 !important;
    color: white !important;
}
.dataTables_wrapper .dataTables_paginate a.paginate_button:hover {
    color: #263544 !important;
}
a.paginate_button {
    padding: 0 !important;
    border: none !important;
    background: transparent !important;
}
div#image-preview-container {
    display: flex;
    gap: 10px;
    padding-top: 10px;
}

div#image-preview-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

div#image-preview-container span {
    width: 50px;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    height: 50px;
}

div#image-preview-container span b {
    position: absolute;
    top: 3px;
    right: 3px;
    background: white;
    z-index: 1;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    transform: rotate(45deg);
    cursor: pointer;
}
.bannerAdmin {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bannerAdmin img {
    width: 100%;
    display: block;
    border-radius: 8px;
    max-height: 200px;
    object-fit: cover;
    border: 1px solid silver;
}

.bannerAdmin span {
    position: absolute;
    text-align: center;
}

.bannerAdmin span b {
    border: 2px solid silver;
    border-radius: 100px;
    padding: 10px;
    color: white;
    box-shadow: 0 0 50px black;
    display: block;
    background-color: black;
}

.bannerAdmin span p {
    font-size: 12px;
    color: yellow;
    text-shadow: 0 0 50px black;
    margin-top: 5px;
}

.bannerAdmin span input[type="file"] {
    position: absolute;
    top: 0;
    opacity: 0;
    cursor: pointer;
    left: 0;
    height: 100%;
}

.pictureAdmin {
    position: relative;
}

.pictureAdmin img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    border-radius: 100px;
    border: 1px solid silver;
}

.pictureAdmin span {
    position: absolute;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.pictureAdmin span b {
    background: white;
    color: black;
    width: 30px;
    position: absolute;
    text-align: center;
    height: 30px;
    line-height: 30px;
    border-radius: 100px;
    right: 0;
    box-shadow: 0 0 10px;
    bottom: 0;
}

.pictureAdmin span input[type="file"] {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    z-index: 1;
}

/* Custome css style */

select.form-control.selectFixCZ {
    border: 1px solid #ccc;
}
.form-control, select.form-control, select.form-control:focus, select.form-control:hover {
    font-size: 14px;
    border-radius: 2px;
    border: 1px solid #ccc !important;
    appearance: revert;
}
.uploadFileCZ {
    width: 100%;
    cursor: pointer;
}

.uploadFileCZ span {
    display: block;
    position: relative;
    height: 35px;
    border: 1px solid #ccc;
    border-radius: 2px;
}

.uploadFileCZ span input.upload__inputfile {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.textareaCZ {
    border-radius: 2px;
}

.note-toolbar {
    background: #efefef !important;
}

.uploadFileCZ span p {
    position: absolute;
    background: #e5ecff;
    right: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 2px;
}

.btnsCZ {
    min-width: 100px;
    background: #263544;
    border: none;
    padding: 10px 20px;
    border-radius: 100px;
    color: white;
}

.main-titleCZ {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.main-titleCZ a {
    padding-right: 38px;
    position: relative;
}

.main-titleCZ a:after {
    position: absolute;
    content: '+';
    background: white;
    color: #198754;
    width: 20px;
    border-radius: 100px;
    text-align: center;
    right: 10px;
    height: 20px;
    top: 8px;
    line-height: 19px;
}

.white_card .white_card_header {
    border-bottom: 1px solid #efefef;
}

.dataTables_length {
    padding: 10px 0 0;
}

.dataTables_length select {
    border: 1px solid silver;
    border-radius: 4px;
}


.dataTables_filter input[type="search"] {
    border-radius: 4px;
    border: 1px solid silver;
    height: 35px;
}

table {
    border: 1px solid #eeeeee !important;
}

table th,
table tr td:first-child {
    font-weight: bold !important;
}

table tr td:last-child a {
    padding: 8px;
    font-size: 16px;
    color: #2ed8b6;
}

table tr td:last-child a#deletePost {
    color: red;
}

.dataTables_paginate.paging_simple_numbers {
    margin: 10px;
}

.dataTables_paginate.paging_simple_numbers a.previous,
.dataTables_paginate.paging_simple_numbers a.next {
    width: auto;
    padding: 0 10px !important;
    background: #d1d1d1;
    border-radius: 100px;
    color: black !important;
}

.dataTables_info {
    position: relative;
    top: 5px;
}

.upload__img-wrap.uploadFilesAllCZ {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.upload__img-wrap.uploadFilesAllCZ .upload__img-box {
    width: 50px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

span.closeUploadImages {
    position: absolute;
    z-index: 1;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    color: white;
    transform: rotate(45deg);
    top: 14px;
    right: 14px;
    border-radius: 100px;
    text-shadow: 0 0 10px black;
    cursor: pointer;
}

.dataTables_wrapper {
    min-height: 700px;
}

.label-inverse-default {
    border-color: red;
    color: red;
}
.czGroupImages {
    display: flex;
    margin-bottom: 20px;
    justify-content: flex-end;
    gap: 10px;
    flex-wrap: wrap;
}

.czGroupImages span {
    background: #efefef;
    border-radius: 10px;
    padding: 10px;
    width: 100px;
    height: 100px;
    position: relative;
}

.czGroupImages span img {
    width: 100%;
    height: 100%;
}

.czGroupImages span b {
    position: absolute;
    font-size: 30px;
    transform: rotate(45deg);
    right: 40px;
    top: 27px;
    cursor: pointer;
}
.planAct .label-main {
    margin-left: 0;
}

.planAct {
    position: absolute;
    top: -38px;
}
.editDeletePlans a:after {
    display: none;
}

.editDeletePlans a {
    padding: 5px;
}

.editDeletePlans ul {
    display: flex;
    align-items: center;
    gap: 10px;
}


.editDeletePlans ul li a#planDelete {
    background: red;
    color: white;
    cursor: pointer;
}
.uploadPPostImages {
    position: relative;
    padding-top: 35px;
    gap: 10px;
    padding-bottom: 30px;
}

.uploadPPostImages h5 {
    font-weight: bold;
    position: absolute;
    top: 0;
}

.uploadPPostImages section {
    border: 1px solid silver;
    border-radius: 10px;
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
}

.uploadPPostImages section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: none;
}

.uploadPPostImages section span {
    position: absolute;
    background: red;
    top: 50%;
    z-index: 1;
    width: 25px;
    height: 25px;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    transform: rotate(45deg);
    border-radius: 100px;
    margin: -13px;
    color: white;
    cursor: pointer;
}
.pcoded-inner-content .card-header .alert.alert-success {
    margin: 0 auto;
}
.card-body.waitingAprroval {
    text-align: center;
}

.card-body.waitingAprroval p {
    padding: 100px 0;
    max-width: 800px;
    margin: 0 auto;
}
.card-body.waitingAprroval p b {
    font-weight: bold;
    display: block;
    color: red;
    font-size: 20px;
}
.priceSetting ul li p:last-child {
    display: none;
}

.priceSetting h6 {
    background: #e8e8e8;
    padding: 10px;
    border-radius: 6px;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}

.priceSetting p * {
    margin: 0;
    font-size: 16px !important;
}

.priceSetting p {
    margin: 15px 0;
    padding-left: 30px;
    position: relative;
}

.priceSetting p:before {
    content: '';
    width: 10px;
    height: 16px;
    position: absolute;
    left: 10px;
    transform: rotate(40deg) scale(.8);
    border-bottom: 2px solid;
    border-right: 2px solid;
}
table.dataTable thead .sorting:before, table.dataTable thead .sorting:after {
    opacity: 0 !important;
}
/* Custome css style */