* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 45px;
    font-weight: 500;
}

h2 {
    font-size: 35px;
    font-weight: 500;
}

h3 {
    font-size: 30px;
    font-weight: 600;
}

h4,
h5,
h6 {
    font-size: 20px;
    font-weight: 600;
}

a,
button {
    transition: .5s;
    cursor: pointer;
}

.text-danger {
    color: red;
}

.alert-success {
    background-color: green;
    color: white;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    background: white;
    z-index: 1;
    border-bottom: 1px solid #f3f3f3;
}

header.fixHeader .headerHub>a {
    max-width: 150px;
}

.headerHub>a img {
    display: block;
}

.wrapper {
    max-width: 1430px;
    margin: 0 auto;
    padding: 0 15px;
}

.headerHub {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.headerHub>a {
    max-width: 335px;
}

.headerNav {
    display: flex;
    align-items: center;
    gap: 15px;
}

.headerNav nav {
    display: flex;
    align-items: center;
    gap: 15px;
}

.headerNav nav a:hover {
    color: #1fc8ec;
}

.headerNav nav a:not(:first-child) {
    padding-left: 15px;
    position: relative;
}

.headerNav nav a:not(:first-child):before {
    content: '';
    width: 2px;
    height: 15px;
    background: #999;
    position: absolute;
    left: 0;
    top: 3px;
}

.headerNav nav a {
    color: black;
}

header.fixHeader nav span {
    min-height: 60px;
}

.headerNav nav span {
    min-height: 110px;
    display: flex;
    gap: 5px;
    align-items: center;
    transition: .5s;
}

.dropOption {
    position: relative;
}

.dropOption button {
    position: relative;
    background: #1fc8ec;
    border: none;
    color: white;
    padding: 10px 40px 10px 20px;
    border-radius: 100px;
    cursor: pointer;
    min-width: 250px;
    max-width: 250px;
}

.dropOption button:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #fff;
    right: 17px;
    top: 16px;
}

.dropOption button:hover {
    background: #14b1d3;
}

.dropOption ul {
    position: absolute;
    background: black;
    width: 100%;
    border-radius: 6px;
    margin-top: 0;
    overflow: hidden;
    max-height: 0px;
    transition: .5s;
}

.dropOption ul.openPartnerOption {
    max-height: 250px;
    margin-top: 5px;
}

.dropOption ul li {
    display: block;
}

.dropOption ul li a {
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    display: block;
    padding: 12px;
}

.dropOption ul li:not(:first-child) {
    border-top: 1px solid rgba(255, 255, 255, .3);
}

.dropOption ul li a:hover {
    background: #2a2a2a;
    color: #14b1d3;
}

.bannerSet .slick-slide img {
    width: 100%;
    height: 680px;
    object-fit: cover;
}

.bannerSet .slick-slide {
    position: relative;
}

.bannerInner {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translate(0, -50%);
}

.bannerInner {
    height: auto !important;
}

.textPanel {
    max-width: 630px;
    padding: 30px;
    background: #1fc8ec;
    border-radius: 10px;
    color: white;
}

.textPanel h1 {
    font-weight: bold;
}

.textPanel p {
    font-size: 22px;
    line-height: 40px;
    margin-top: 10px;
}

ul.slick-dots {
    position: absolute;
    left: 0;
    bottom: 50px;
    width: 100%;
    display: flex !important;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

ul.slick-dots li button {
    width: 13px;
    height: 13px;
    font-size: 0px;
    border: none;
    background: #ffffff;
    border-radius: 15px;
    cursor: pointer;
}

ul.slick-dots li.slick-active button {
    background: #1fc8ec;
}

.searchOptions {
    background: #015b8d;
    margin-top: -5px;
    padding: 15px 0;
}

.searchOptionsInner {
    background: white;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 100px;
    display: flex;
    justify-content: space-between;
}

.searchSet {
    width: 50%;
    position: relative;
}

.searchSet input[type="text"] {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 100px;
    outline: none;
    padding-left: 35px;
}

.searchSet i {
    position: absolute;
    left: 15px;
    top: 16px;
    font-size: 15px;
    color: #999;
}

.searchSet:not(:first-child):after {
    content: '';
    width: 1px;
    height: 24px;
    background: #c1c1c1;
    position: absolute;
    left: 0px;
    top: calc(50% - 12px);
}

.searchOptionsInner button {
    border: none;
    background: #1fc8ec;
    color: white;
    border-radius: 0 100px 100px 0;
    padding: 0 30px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    right: -1px;
}

.searchOptionsInner button:hover {
    background: #14b1d3;
}

.headerTitle {
    text-align: center;
    color: #000;
    position: relative;
    margin-bottom: 35px;
}

.pharmCategory.categoriesAll .headerTitle {
    color: #015b8d;
}

.headerTitle:before {
    width: 70px;
    height: 2px;
    background: #015b8d;
    content: '';
    position: absolute;
    bottom: -15px;
    left: calc(50% - 35px);
}

.pharmCategory {
    padding: 100px 0;
    background: #e0f7ff;
}

.pharmCategory.categoriesAll {
    padding-bottom: 120px;
}

.pharmPartnersLogo {
    background-color: white;
}

.pharmCategory.pharmPartnersLogo button.slick-arrow {
    display: none !important;
}

.pharmCategory.pharmPartnersLogo .slick-slide>div h6 {
    height: 100px;
    align-items: center;
    display: flex;
    justify-content: center;
    color: #3b9d63;
}

button.slick-arrow {
    border-left: 4px solid;
    border-bottom: 4px solid;
    border-right: 0;
    border-top: 0;
    background: transparent;
    font-size: 0;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    position: absolute;
    left: 0;
    top: calc(50% - 10px);
}

button.slick-next.slick-arrow {
    transform: rotate(-135deg);
    right: 0;
    left: auto;
}

.pharmCategoryInner section.center {
    padding: 0 50px;
}

.pharmCategory.categoriesAll .slick-slide {
    padding: 0 6px;
}

.pharmCategory.categoriesAll a {
    text-align: center;
    padding: 20px;
    display: block;
    background: white;
    border: 1px solid #ecf3f5;
    border-radius: 6px;
    position: relative;
    padding-bottom: 60px;
}

.pharmCategory.categoriesAll span {
    background: #1fc8ec;
    width: 80px;
    height: 80px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    margin: 0 auto;
}

.pharmCategory.categoriesAll h4 {
    padding: 20px 15px;
    color: #000;
}

.pharmCategory.categoriesAll b {
    background: #e0f7ff;
    margin: 0 auto;
    display: block;
    width: 125px;
    color: black;
    font-weight: normal;
    padding: 8px;
    border-radius: 50px;
    transition: .5s;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0px);
}

section.categorySet {
    display: flex;
    flex-wrap: wrap;
}

section.categorySet>div {
    width: 20%;
    padding: 7px;
}

section.categorySet>div a {
    aspect-ratio: 1/1;
    /* display: flex !important; */
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    max-width: 100%;
}

section.categorySet>div#all_categories a {
    display: flex;
}

.pharmCategory.categoriesAll a:hover {
    background: #1fc8ec;
}

.pharmCategory.categoriesAll a.allcategoryShow {
    background: #e0f7ff;
    padding: 20px;
}

.pharmCategory.categoriesAll a.allcategoryShow:hover {
    background: #c6f0ff;
}

.pharmCategory.categoriesAll a:hover h4 {
    color: white;
}

.pharmCategory.categoriesAll.catgorySetsAll {
    background-color: white;
    padding-bottom: 0;
}

.pharmCategory.categoriesAll a:hover b {
    background: black;
    color: white;
}

.pharmCategory.categoriesAll.catgorySetsAll {
    padding-top: 0;
}

.pharmCategory.categoriesAll a.allcategoryShow b {
    background: black;
    color: white;
    width: auto;
    padding: 8px 20px;
    position: initial;
    transform: none;
}

.bannerSet.bannerSetcategory {
    background: url(../images/blog_banner.jpg);
    text-align: center;
    color: white;
    background-size: cover;
    background-position: right top;
    padding-bottom: 100px;
    padding-top: 50px;
}

.bannerSet.bannerSetcategory .wrapper {
    max-width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    gap: 20px;
}

.pharmCategory.categoriesAll.catgorySetsAll+.pharmCategory.pharmPartnersLogo {
    padding-top: 50px;
}

.pharmCategory.categoriesAll.catgorySetsAll section.categorySet {
    position: relative;
    top: -50px;
}

.pharmCategory.categoriesAll a img {
    max-width: 45px;
}

.calltoAction {
    background: black;
    padding: 60px 0;
}

.callLeft {
    position: relative;
    color: white;
    width: 50%;
}

.callLeft h3 {
    padding-right: 15%;
    margin-bottom: 15px;
}

.callActionInner {
    display: flex;
    align-items: center;
}

.callLeft a {
    position: relative;
    background: #1fc8ec;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 100px;
    cursor: pointer;
    display: inline-block;
}

.callLeft a:hover {
    background: #14b1d3;
}

.callLeft img {
    position: absolute;
}

.callActionInner .callLeft:last-child {
    display: flex;
    align-items: center;
}

.pharmCategory.pharmPartnersLogo h4 {
    margin-bottom: 15px;
}

.pharmCategory.pharmPartnersLogo .slick-slide {
    padding: 0 10px;
    filter: grayscale(1);
    transition: .5s;
    opacity: .6;
}

.pharmCategory.pharmPartnersLogo .slick-slide>div {
    border: 1px solid #e5e5e5;
    border-radius: 6px;
}

.pharmCategory.pharmPartnersLogo .slick-slide img {
    width: 100%;
    height: 100px;
    object-fit: contain;
    padding: 10px 10%;
}

.pharmCategory.pharmPartnersLogo .slick-slide:hover {
    filter: grayscale(0);
    opacity: 1;
}

.pharmCategory.pharmPartnersLogo .innerDifferentSection {
    margin-bottom: 50px;
}

.pharmCategory.pharmPartnersLogo .innerDifferentSection:last-child {
    margin: 0;
}


footer {
    background-color: black;
    background-image: url(../images/buildings.png);
    background-repeat: repeat-x;
    background-position: bottom;
    padding: 50px 50px 15px;
}

.footerLinks {
    display: flex;
    justify-content: space-between;
}

.footerLinks b {
    color: white;
    font-weight: 600;
    margin-bottom: 10px;
    display: block;
}

.footerLinks a {
    font-size: 14px;
    color: white;
    padding: 6px 0;
    display: block;
}

.copyrighter {
    text-align: center;
    font-size: 12px;
    color: white;
    padding-top: 150px;
}

.footerSocialPartner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
}

.socialApps a {
    color: white;
    font-size: 20px;
}

.socialApps a:hover {
    color: #1fc8ec;
}

.socialApps {
    display: flex;
    gap: 15px;
}

.socialPartner ul {
    display: flex;
    color: white;
    gap: 10px;
}

.socialPartner ul a {
    color: white;
}

.socialPartner ul a:hover {
    color: #1fc8ec;
}

.socialPartner {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.socialPartner>a {
    position: relative;
    background: #1fc8ec;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 100px;
    cursor: pointer;
    display: flex;
    gap: 10px;
    margin-top: 10px;
    font-style: italic;
}

.socialPartner>a:hover {
    background: #14b1d3;
}

.footerLinks a:hover {
    color: #1fc8ec;
}

.categoryTabs {
    background: #f9f9f9;
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
}

.categoryTabsInner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.categoryTabsInner a {
    color: black;
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 100px;
    text-align: center;
}

.categoryTabsInner a:hover,
a.activeCategory {
    color: white;
    background: #1fc8ec;
}

.filtersCategory-Inner {
    display: flex;
    gap: 50px;
}

.leftSidebar {
    min-width: 335px;
    max-width: 335px;
}

.leftSidebar>section {
    background: #f9f9f9;
    border-radius: 6px;
}

.leftSidebar h4 {
    color: #1fc8ec;
    margin-bottom: 10px;
}

.filtersCategory-Hub {
    padding-top: 50px;
}

.search-criteria {
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-bottom: 1px solid #e6e6e6;
}

.search-criteria span {
    position: relative;
}

.search-criteria span div#category_search_result {
    position: absolute;
    background: white;
    z-index: 1;
    width: 100%;
}

.search-criteria span div#category_search_result select#selected-category {
    border-radius: 0;
    border: navajowhite;
    padding: 0;
}

.search-criteria span div#category_search_result select#selected-category option {
    height: 28px;
}

.search-criteria h5 {
    font-size: 16px;
    padding-bottom: 10px;
}

.search-criteria select {
    width: 100%;
    border-radius: 100px;
    padding: 12px;
    border: 1px solid silver;
    appearance: none;
    position: relative;
    outline: none;
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
    background-color: white;
    background-image: url('../images/arrow.png');
    background-repeat: no-repeat;
    background-position: center right 14px;
}

.search-criteria select:before {
    width: 10px;
    height: 10px;
    position: absolute;
}

.search-criteria div {
    position: relative;
}

.search-criteria input[type="text"] {
    padding: 12px;
    border: 1px solid silver;
    width: 100%;
    border-radius: 100px;
    outline: none;
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
}

.search-criteria div button {
    position: absolute;
    right: 0px;
    top: 0;
    height: 100%;
    width: 40px;
    background: transparent;
    border: none;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchCategories {
    padding: 15px;
}

.searchCategories li span {
    font-weight: 600;
    position: relative;
    display: block;
    padding: 10px 15px 10px 0;
    cursor: pointer;
}

.searchCategories li span:before {
    content: '-';
    position: absolute;
    right: 1px;
    font-size: 30px;
    line-height: 20px;
    font-weight: normal;
    top: 8px;
    opacity: 0;
}

.searchCategories li span:after {
    content: '+';
    position: absolute;
    right: 0px;
    font-size: 24px;
    line-height: 20px;
    font-weight: normal;
    top: 11px;
}

.searchSubCategory {
    padding: 15px;
    background: white;
    border-radius: 6px;
    max-height: 0px;
    overflow: hidden;
    padding-top: 0;
    padding-bottom: 0;
    transition: .5s;
}

li.activeSidebarCategory .searchSubCategory {
    max-height: 2000px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.searchSubCategory a {
    color: #666666;
    font-size: 15px;
    padding: 8px 0;
    display: block;
    font-weight: 500;
}

.searchSubCategory ul li a {
    font-size: 12px;
    font-weight: 500;
    color: #999;
    padding: 8px 0 8px 15px;
    display: block;
    position: relative;
}

.searchSubCategory ul li a:before {
    content: '';
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #7f7f7f;
    left: 0;
    position: absolute;
    top: 10px;
}

.searchSubCategory ul {
    display: block;
    padding-bottom: 10px;
}

li.activeSidebarCategory {
    padding-bottom: 20px;
    margin-bottom: 5px;
    border-bottom: 1px solid #dfdfdf;
}

li.activeSidebarCategory span {
    color: #015b8d;
}

li.activeSidebarCategory span::after {
    opacity: 0;
}

li.activeSidebarCategory span::before {
    opacity: 1;
}

.searchSubCategory ul li a:hover {
    padding-left: 20px;
}

.searchSubCategory a:hover {
    color: black;
}

.searchSubCategory ul li a:hover {
    color: #1fc8ec;
}

.searchCategories li span:hover {
    color: #015b8d;
}

.rightCategories {
    width: 100%;
}

.rightCategories>p {
    font-size: 12px;
    font-weight: 500;
    padding: 10px 0 4px 10px;
}

.rightCategories section ul {
    display: flex;
    flex-wrap: wrap;
}

.rightCategories section ul li {
    width: 25%;
    padding: 6px;
}

.rightCategories section ul li a {
    background: #f9f9f9;
    border: 1px solid #f1f1f1;
    padding: 10px;
    display: block;
    border-radius: 6px;
    text-align: center;
    height: 100%;
}

.rightCategories section ul li a b {
    display: block;
    font-weight: 600;
    padding: 10px 0 5px;
    color: black;
    transition: .5s;
}

.rightCategories section ul li a span {
    aspect-ratio: 1/0.8;
    display: block;
}

.rightCategories section ul li a span img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
}

.rightCategories section ul li a:hover b {
    color: #1fc8ec;
}

/* start new mega menu */
.hubAllLinksMenuSet {
    display: flex;
}

.hubAllLinksMenuSet section {
    width: 33.33%;
    overflow: auto;
}

.hubAllLinksMenuSet section ul.linksSubcategories a {
    font-size: 14px;
    color: #444;
    width: 300px;
    padding: 10px;
    font-weight: 500;
    position: relative;
    padding-left: 15px;
}

.hubAllLinksMenuSet section ul.linksSubcategories a:before {
    content: '';
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #7f7f7f;
    left: 0;
    position: absolute;
    top: 14px;
    opacity: 1;
    transform: rotate(0);
    border-right: 0;
}

section ul.linksSubcategories {
    position: initial;
    width: auto;
}

.hubAllLinksMenuSet section ul.linksSubcategories a:hover {
    color: #1fc8ec;
    padding-left: 20px;
}

/* End mega menu */
.hubAllLinksMenu {
    position: absolute;
    background: #f9f9f9;
    left: 0;
    width: 100%;
    top: 100%;
    padding: 0 15px;
    transition: .5s;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
}

.headerNav nav span:hover .hubAllLinksMenu {
    max-height: 100vh;
    overflow: inherit;
    padding: 15px;
    opacity: 1;
}

ul.linksCategories>li {
    display: flex;
    gap: 20px;
}

ul.linksSubcategories {
    display: flex;
    position: absolute;
    left: 320px;
    top: 0;
    /* display: none; */
    width: calc(100% - 320px);
    flex-direction: column;
    z-index: 1;
    height: 100%;
    padding-left: 20px;
    overflow: auto;
    background: white;
    border-radius: 6px;
    border: 1px solid #f1f1f1;
}

ul.linksCategories>li:hover ul.linksSubcategories {
    z-index: 2;
}

ul.linksCategories>li:hover a:before {
    opacity: 1;
    border-color: #1fc8ec;
    right: 0;
}

ul.linksCategories>li:hover a {
    color: #1fc8ec;
}

ul.linksCategories>li a {
    width: 300px;
    padding: 10px;
    font-weight: 500;
    position: relative;
}

ul.linksCategories>li a:before {
    width: 10px;
    height: 10px;
    border-right: 1px solid;
    border-top: 1px solid;
    content: '';
    position: absolute;
    right: 15px;
    transform: rotate(45deg);
    top: 15px;
    opacity: 0;
    transition: .5s;
}

ul.linksCategories>li a:hover:before {
    opacity: 1;
    right: 0;
}

ul.linksSubcategories li {
    display: block;
    position: relative;
}

ul.linksSubcategories li a {
    display: block;
}

.sub-linksCategories ul li a:hover {
    padding-left: 15px !important;
}

ul.linksCategories>li ul.linksSubcategories li a {
    width: 300px;
    font-size: 14px;
    color: #444;
    font-weight: 600;
    position: relative;
    padding-left: 15px;
}

ul.linksCategories {
    position: relative;
}

ul.linksCategories>li ul.linksSubcategories li a:before {
    content: '';
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #7f7f7f;
    left: 0;
    position: absolute;
    top: 14px;
    opacity: 1;
    transform: rotate(0);
    border-right: 0;
}

ul.linksCategories>li ul.linksSubcategories li a:hover {
    color: #1fc8ec;
    padding-left: 20px;
}

ul.linksSubcategories li:hover .sub-linksCategories,
ul.linksSubcategories li:hover .sub-linksCategories .sub-linksCategories {
    z-index: 2;
}

.sub-linksCategories {
    position: absolute;
    left: 300px;
    top: 0;
    width: calc(100% - 320px);
    min-height: 300px;
    overflow: auto;
    background: white;
    z-index: 1;
    margin-left: 20px;
}

.sub-linksCategories ul {
    display: flex;
    flex-wrap: wrap;
}

.sub-linksCategories ul li {
    width: 33.33%;
}

.sub-linksCategories ul li a {
    max-width: 100%;
}

.sub-linksCategories ul li a::before {
    display: none;
}

.sub-linksCategories ul li a span {
    min-height: auto;
    width: 70px;
    height: 70px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 100px;
    border: 1px solid #ebebeb;
}

.sub-linksCategories ul li a b {
    display: block;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    padding-top: 6px;
}

.sub-linksCategories ul li a span img {
    height: 100%;
    object-fit: cover;
}

.selectYourCategory {
    position: fixed;
    background: #000000b8;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    display: none;
}

.selectSetCategory {
    width: 830px;
    padding: 30px;
    background: white;
    border-radius: 10px;
    max-height: 100%;
    overflow: auto;
    margin: 0 auto;
}

.selectSetCategory ul {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    gap: 15px;
}

.selectSetCategory ul li {
    width: 100%;
    text-align: center;
    cursor: pointer;
    position: relative;
}

.selectedCategoryHead {
    padding-bottom: 10px;
    position: relative;
    padding-right: 150px;
}

.selectedCategoryHead h6 {
    color: #1fc8ec;
}

.selectedCategoryHead span {
    position: absolute;
    right: 0;
    font-weight: 700;
    top: 15px;
}

.selectedCategoryHead span b {
    background: #00BCD4;
    display: inline-block;
    text-align: center;
    padding: 0 10px;
    border-radius: 10px;
    color: white;
    font-weight: 500;
}

.selectSetCategory ul li input[type="checkbox"] {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}

.selectSetCategory ul li span {
    background: #959595;
    display: inline-block;
    border-radius: 100px;
    padding: 10px;
    width: 40px;
}

.selectSetCategory ul li span img {
    display: block;
}

.selectSetCategory ul li input[type="checkbox"]:checked+section,
.selectSetCategory ul li:hover section {
    background: #f5fcff;
    border: 2px solid #00BCD4;
    border-radius: 10px;
}

.selectSetCategory ul li section {
    padding: 5px;
    border: 2px solid #e5e5e5;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.selectSetCategory ul li input[type="checkbox"]:checked+section span {
    background: #00BCD4;
}

.selectSetCategory ul li input[type="checkbox"]:checked+section:after {
    transform: rotate(45deg) scale(.8);
    opacity: 1;
}

.selectSetCategory ul li * {
    transition: .5s;
}

.selectSetCategory ul li section:after {
    content: '';
    width: 10px;
    height: 18px;
    position: absolute;
    right: 20px;
    top: 14px;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    transform: rotate(45deg) scale(.5);
    opacity: .2;
    transition: .5s;
}

.singlePageDetailHub {
    display: flex;
    justify-content: space-around;
    gap: 50px;
}

.leftSideSlider {
    width: 500px;
}

.rightCategoryInfo {
    width: 100%;
    padding: 25px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px silver;
}

.singlePageDetail {
    padding: 50px 0;
}

.sideCategoryInfo h6 {
    font-size: 16px;
}

.sideCategoryInfo p {
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.sideCategoryInfo span {
    display: flex;
    align-items: center;
    gap: 5px;
}

.sideCategoryInfo b,
.sideCategoryInfo span {
    font-size: 12px;
}

.partnerName a {
    text-decoration: underline;
    color: #1fc8ec;
    font-size: 14px;
    font-weight: 500;
    display: block;
}

.sideCategoryInfo {
    padding-bottom: 20px;
}

.partnerName {
    padding: 10px 0;
}

.sideCategoryInfo p img {
    width: 20px;
}

.categorySliding {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px silver;
}

.categorySliding .slick-slide img {
    width: 100%;
}

.categorySliding .slider-nav-thumbnails .slick-slide {
    width: 100px;
    padding: 5px;
}

.categorySliding .slider-nav-thumbnails .slick-slide img {
    height: 70px;
    border-radius: 6px;
    object-fit: cover;
}

.categorySliding .slider-nav-thumbnails .slick-list.draggable {
    padding: 0 10px;
}

.categorySliding .slider-nav-thumbnails .slick-slide {
    opacity: .5;
    cursor: pointer;
}

.categorySliding .slider-nav-thumbnails .slick-slide.slick-current {
    opacity: 1;
}

.rightCategoryInfo li {
    background: #efefef;
    padding: 10px 20px 10px 40px;
    border-radius: 40px;
    margin: 5px 0;
    position: relative;
}

.rightCategoryInfo li:before {
    position: absolute;
    width: 6px;
    height: 6px;
    background: black;
    content: '';
    left: 15px;
    top: 17px;
    transform: rotate(45deg);
}

.rightCategoryInfo p {
    line-height: 25px;
}

.rightCategoryInfo ul {
    padding: 15px 0;
    border-top: 1px dashed silver;
    border-bottom: 1px dashed silver;
    margin: 15px 0;
}

.buttonsCategory section {
    display: flex;
    gap: 15px;
    padding: 15px;
    background: #efefef;
    border-radius: 6px;
    margin-top: 21px;
}

.buttonsCategory section button {
    outline: none;
    position: relative;
    background: #1fc8ec;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 100px;
    cursor: pointer;
    width: 50%;
}

.buttonsCategory section button:last-child {
    color: black;
    background: transparent;
    border: 1px solid black;
}

.rightCategoryInfo h6 {
    padding: 15px 0;
}

.container.loginRegister {
    max-width: 700px;
    margin: 15vh auto;
    border: 1px solid #ebebeb;
    border-radius: 10px;
    box-shadow: 0 0 10px #ebebeb;
    width: calc(100% - 30px);
    overflow: hidden;
}

.card-body {
    padding: 25px;
}

.card-body form .flexSet {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.card-body form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

/* .card-header.headerBG-register{ background-image: url('../images/registerBG.png');} */
.container.loginRegister .card-header {
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    padding: 15px 0;
}

.card-header.headerBG-register {
    background-image: url('../images/registerBG.png');
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.container.loginRegister input,
.container.loginRegister textarea,
.container.loginRegister select {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ededed;
    margin-top: 5px;
    outline: none;
    max-width: 100%;
}

.width100Set {
    width: 100% !important;
}

.container.loginRegister .row.mb-3 label {
    font-size: 14px;
    font-weight: 500;
    color: #777;
    cursor: pointer;
}

.container.loginRegister .card-body form .flexSet .row.mb-3 {
    margin: 10px 0;
    width: calc(50% - 5px);
}

.container.loginRegister .form-check {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
}

.container.loginRegister .form-check input {
    width: 20px;
    height: 20px;
    margin: 0;
}

.container.loginRegister button {
    position: relative;
    background: #1fc8ec;
    border: none;
    color: white;
    padding: 10px 40px 10px 20px;
    border-radius: 100px;
    cursor: pointer;
    min-width: 250px;
    max-width: 250px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.container.loginRegister .col-md-8.offset-md-4 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    position: relative;
}

.container.loginRegister .col-md-8.offset-md-4 a.btn.btn-link {
    position: absolute;
    top: -38px;
    right: 0;
    font-size: 14px;
    font-weight: 500;
    color: #777;
    cursor: pointer;
}

.container.loginRegister .col-md-8.width100.offset-md-4 button {
    max-width: 100%;
}

.selectSetCategory ul li input[type="checkbox"]:checked~.allListBelow {
    max-height: 1000px;
}

.attachmentsSet {
    position: relative;
}

.attachmentsSet p {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 12px;
    font-weight: 600;
    padding: 10px 0;
}

.attachmentsSet p img {
    width: 16px;
}

.attachmentsSet section {
    position: absolute;
    top: 6px;
    right: 0;
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #efefef;
    border-radius: 6px;
}

.attachmentsSet section input[type="file"] {
    background: red;
    height: 42px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    margin: 0;
}

.container.loginRegister.loginRegisterSet {
    max-width: 400px;
}

.container.loginRegister.loginRegisterSet .row.mb-3 {
    width: 100%;
}

button.btn.btn-primary.sendLink {
    padding-right: 20px;
}

.allListBelow {
    max-height: 0;
    overflow: hidden;
    width: 100%;
    transition: .5s;
}

.selectSetCategory .allListBelow ul li {
    width: calc(33.33% - 10px);
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    border: 1px solid silver;
    border-radius: 6px;
}

.selectSetCategory .allListBelow ul li span {
    width: auto;
    padding: 0;
    margin-right: 5px;
}


.selectSetCategory .allListBelow ul li span input[type="checkbox"]:checked+b {
    border: 1px solid black;
}

.selectSetCategory .allListBelow ul li span b {
    width: 14px;
    height: 14px;
    background: white;
    position: absolute;
    border-radius: 100px;
    left: 10px;
    top: 50%;
    margin-top: -7px;
    border: 1px solid #cbcbcb;
    transition: .5s;
}

.selectSetCategory .allListBelow ul li span b:before {
    width: 8px;
    height: 8px;
    content: '';
    position: absolute;
    background: black;
    left: 2px;
    top: 2px;
    border-radius: 100px;
    opacity: 0;
    transform: scale(.2);
    transition: .5s;
}

.selectSetCategory .allListBelow ul li span input[type="checkbox"]:checked+b:before {
    opacity: 1;
    transform: scale(1);
}

.submItCategory {
    text-align: center;
    margin-top: 15px;
}

.submItCategory button {
    position: relative;
    background: #1fc8ec;
    border: none;
    color: white;
    padding: 10px 40px 10px 20px;
    border-radius: 100px;
    cursor: pointer;
    min-width: 250px;
    max-width: 250px;
}

.consultingServicesInner {
    padding-top: 10px;
    padding-bottom: 100px;
}

section.consultingServicesSet {
    position: relative;
    display: flex;
    justify-content: space-between;
}

section.consultingServicesSet section>div {
    width: 500px;
    padding: 7px;
}

ul.consultList {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

section.consultingServicesSet.postAll section>div {
    width: 33.33%;
}

section.consultingServicesSet.postAll section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

section.consultingServicesSet section>div a {
    padding: 20px;
    background: white;
    border: 1px solid #ecf3f5;
    border-radius: 6px;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    position: relative;
    padding-bottom: 45px;
}

section.consultingServicesSet h4 {
    font-size: 18px;
}

section.consultingServicesSet span p {
    font-size: 14px;
}

ul.tagsConsult {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;
}

ul.tagsConsult li {
    font-size: 12px;
    background: #e7e7e7;
    padding: 5px;
    border-radius: 6px;
    font-weight: 600;
    color: #666;
    text-transform: capitalize;
}

ul.tagsConsult.certifyMe li {
    padding: 0;
}

ul.tagsConsult.certifyMe li a {
    font-size: 12px;
    padding: 5px;
    display: block;
    text-decoration: underline;
}

.leftRightPartnerSet {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.leftRightPartnerSet section {
    width: 50%;
}

.consultInfo.partnerPageMain .consultInfoIndeed a {
    text-decoration: underline;
}

.consultInfo.partnerPageMain .categoryTabs {
    border: 1px solid silver;
    border-radius: 6px;
    margin-top: 40px;
}

section.consultingServicesSet section>div a>p,
section.consultingServicesSet section>div a>p b {
    font-size: 14px;
    color: #555;
}

ul.consultList li {
    font-size: 14px;
    background: #f9f9f9;
    border-radius: 6px;
    padding: 10px;
}

ul.consultList li b {
    font-size: 14px;
}

section.consultingServicesSet section>div a>b {
    display: flex;
    font-size: 12px;
    font-weight: normal;
    position: absolute;
    bottom: 15px;
}

section.consultingServicesSet section>div:hover h4 {
    color: #1fc8ec;
}

section.consultingServicesSet section>div:hover a {
    border-color: black;
}

section.consultingServicesSet section>div * {
    transition: .5s;
}

section.consultingServicesSet section>div a.allConsultShow {
    background: #e0f7ff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}

section.consultingServicesSet section>div a.allConsultShow:hover {
    border-color: #cce3eb;
    background: #c6f0ff;
}

section.consultingServicesSet section>div a.allConsultShow b {
    position: initial;
    background: black;
    color: white;
    width: auto;
    padding: 8px 20px;
    font-size: 16px;
    border-radius: 100px;
}

.headConsult {
    position: relative;
}

.headConsult section img {
    height: 120px;
    width: 100%;
    object-fit: cover;
    display: block;
}

.headConsult span {
    position: absolute;
    width: 60px;
    border: 3px solid white;
    border-radius: 4px;
    bottom: -30px;
    left: 20px;
    box-shadow: 0 0 10px #00000085;
}

.headConsult span img {
    display: block;
}

.consultInfo {
    width: calc(100% - 525px);
    border-radius: 10px;
    box-shadow: 0 0 10px silver;
    position: sticky;
    top: 80px;
    margin-top: 8px;
    max-height: calc(100vh - 100px);
    overflow: auto;
    z-index: 0;
    background: white;
}

.consultInfo h4 {
    margin-top: 50px;
    font-size: 20px !important;
    padding-bottom: 6px;
    position: relative;
    padding-right: 100px;
}

.consultInfo h4 a {
    right: 0;
    position: absolute;
    font-size: 12px;
    background: black;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: underline;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 80px;
    top: -2px;
}

.consultInfo h4 a img {
    width: 20px;
}

.consultInfoIndeed {
    font-size: 12px;
    color: #34b300;
    font-weight: 600;
    margin: 10px 0;
    display: none;
}

.consultInfo span {
    padding: 0px 0px;
}

.consultInfo ul.tagsConsult {
    margin: 10px 0;
}

.consultInfo h6 {
    margin-top: 20px;
    border-top: 1px dashed silver;
    padding-top: 20px;
    padding-bottom: 10px;
}

.consultInfo .wrapper>p {
    margin: 10px 0;
    line-height: 22px;
}

.consultInfo .wrapper>b {
    display: flex;
    font-size: 12px;
    font-weight: 600;
}

.consultInfo .wrapper>.buttonsCategory {
    margin-bottom: 20px;
}

.consultInfo.partnerPageMain {
    position: relative;
    top: 0;
    width: calc(100% - 30px);
    max-height: initial;
    margin-left: 15px;
    box-shadow: none;
    border: 1px solid #f1f1f1;
    padding-bottom: 15px;
    margin-bottom: 50px;
    margin-top: 15px;
}

.consultInfo.partnerPageMain .wrapper {
    position: relative;
}

.partnerCallEmail {
    display: flex;
    padding: 15px;
    margin-top: 20px;
    border-top: 1px dashed silver;
    padding-top: 30px;
    gap: 30px;
    padding-left: 0;
}

.partnerCallEmail p {
    display: flex;
    align-items: center;
    gap: 10px;
}

.partnerCallEmail a {
    outline: none;
    position: relative;
    background: #1fc8ec;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 100px;
    cursor: pointer;
}

.healthAthaurity {
    padding-bottom: 100px;
}

.fullHealthDetails {
    display: flex;
    align-items: flex-start;
}

.globalHeaderSet {
    background: #1fc8ec;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

section.healthLinksRedirect .width100Set {
    padding-top: 80px;
}

section.healthAreas {
    min-width: 250px;
    padding: 10px 15px;
    background: #efefef;
    border-radius: 8px;
    position: sticky;
    top: 80px;
    margin-top: 80px;
}

section.healthLinksRedirect {
    width: 100%;
    padding-left: 20px;
    color: #1fc8ec;
}

.fullHealthDetails a {
    padding: 8px 0;
    display: block;
    color: black;
}

section.healthAreas a {
    font-weight: bold;
    color: black;
}

section.healthAreas li {
    border-bottom: 1px dashed silver;
}

section.healthAreas ul li:last-child {
    border: none;
}

section.healthLinksRedirect ul {
    padding: 10px 0;
}

section.healthLinksRedirect a:hover {
    text-decoration: underline;
}

.staticContent>span {
    background: #1fc8ec;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
}

.searchImage {
    max-width: 100px;
    min-width: 100px;
    height: 100px;
    border-radius: 100px;
    border: 1px solid #d9d9d9;
    overflow: hidden;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchImage b {
    font-size: 50px;
    color: #c3c3c3;
}

.serachPost {
    min-width: calc(100% - 100px);
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.csearchedSet a {
    background: #f6fdff !important;
    border: 5px solid silver !important;
}

.csearchedSet a:hover {
    border: 5px solid #1fc8ec !important;
}

.csearchedSet .serachPost h4 {
    color: #1fc8ec;
}

.padding-top-50 {
    padding-top: 50px;
}

.staticPages {
    padding: 80px 0;
    line-height: 24px;
}

.staticPages p {
    padding: 10px 0;
}

.staticPages ol li {
    list-style: auto;
    font-weight: bold;
    background: #efefef;
    margin: 10px 0;
    padding: 20px;
    border-radius: 8px;
}

.staticPages ol {
    padding: 20px;
}

span.invalid-feedback,
span.invalid-feedback * {
    font-size: 10px;
    color: red;
    display: block;
}

.noDataFound {
    text-align: center;
    padding: 100px;
}

.noDataFound img {
    background: #ffc04c;
    display: block;
    border-radius: 100%;
    width: 300px;
    height: 300px;
    padding: 20px;
    object-fit: cover;
    margin: 0 auto;
}

.contactForm {
    max-width: 800px;
    margin: 0 auto;
    border: 1px solid #ebebeb;
    border-radius: 10px;
    box-shadow: 0 0 10px #ebebeb;
    overflow: hidden;
}

.contactFormInner {
    padding: 25px;
    display: flex;
    gap: 30px;
}

.contactForm label {
    font-size: 14px;
    font-weight: 500;
    color: #777;
    cursor: pointer;
    display: block;
}

.contactForm input {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ededed;
    margin-top: 5px;
    outline: none;
    max-width: 100%;
}

.contactForm form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.contactForm form section {
    width: 100%;
}

.contactForm textarea {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ededed;
    margin-top: 5px;
    outline: none;
    max-width: 100%;
}

.contactForm input[type="submit"] {
    background: #1fc8ec;
    border: none;
    color: white;
    padding: 10px 40px 10px 20px;
    border-radius: 100px;
    cursor: pointer;
    min-width: 250px;
    max-width: 250px;
    margin: 10px auto;
    display: block;
}

.contactForm .card-header {
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    padding: 15px 0;
}

.contactAdress {
    min-width: 300px;
}

.contactAdress section p {
    padding: 5px 0;
    color: #666;
}

.contactAdress section p b {
    color: black;
    margin-right: 5px;
}

.contactAdress h6 {
    padding-bottom: 15px;
}

.contactAdress section {
    background: #efefef;
    border-radius: 6px;
    padding: 25px;
}

/* plans css */
:root {
    --baseColor: #656c7c;
    --baseSize: 16px;
    --baseLineHeight: 1.5;
    --fontFamily: Inter, sans-serif;
    --pink: #14b1d3;
    --pinkLight: #e7fbff;
    --blue: #1769ff;
    --redTick: url("data:image/svg+xml,%3Csvg width='18' height='14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.552.134 5.717 10.97 1.448 6.701 0 8.149l5.717 5.717L18 1.583 16.552.134Z' fill='%23EA455F'/%3E%3C/svg%3E%0A");
    --whiteTick: url("data:image/svg+xml,%3Csvg width='18' height='14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.552.134 5.717 10.97 1.448 6.701 0 8.149l5.717 5.717L18 1.583 16.552.134Z' fill='%23FFFFFF'/%3E%3C/svg%3E%0A");
    --close: url("data:image/svg+xml,%3Csvg width='18' height='18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 1.414 16.586 0 9 7.586 1.414 0 0 1.414 7.586 9 0 16.586 1.414 18 9 10.414 16.586 18 18 16.586 10.414 9 18 1.414Z' fill='%23B1B8C9'/%3E%3C/svg%3E");
    --entpIcon: url("data:image/svg+xml,%3Csvg width='42' height='42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.813 11.077 21 1.155l17.187 9.922v19.846L21 40.845 3.813 30.923V11.077Z' stroke='%23fff' stroke-width='2'/%3E%3Ccircle cx='21' cy='21' r='8' stroke='%23fff' stroke-width='2'/%3E%3C/svg%3E");
}

.plans {
    width: 96%;
    max-width: 1128px;
    margin: 0 auto;
}

.plans__container {
    padding: 1rem 0 2rem;
}

.plansHero {
    text-align: center;
    padding: 5rem 0 4.5rem;
    line-height: 1.21;
}

.plansHero__title {
    font-weight: 700;
    font-size: 2rem;
    margin: 0 0 1rem 0;
    color: #000;
}

.plansHero__subtitle {
    margin: 0;
}

.planItem {
    --border: 1px solid #e6e6e6;
    --bgColor: #fff;
    --boxShadow: none;
    background-color: var(--bgColor);
    border: var(--border);
    border-radius: 1rem;
    box-shadow: var(--boxShadow);
    padding: 2rem 1.5rem;
    display: inline-flex;
    flex-direction: column;
}

.planItem__container {
    --direction: column;
    display: grid;
    grid-auto-flow: var(--direction);
    grid-auto-columns: 1fr;
    gap: 1.5rem;
}

.planItem .price {
    --priceMargin: 2rem 0;
}

.planItem--pro {
    --border: 0;
    --boxShadow: 0px 14px 30px rgba(204, 204, 204, 0.32);
}

.planItem--pro .label {
    --labelBg: #fdb72e;
    --labelColor: #fff;
}

.planItem--entp {
    --bgColor: var(--blue);
}

.planItem--entp .card {
    --titleColor: #fff;
    --descColor: rgb(255 255 255 / 80%);
}

.planItem--entp .card__icon {
    background-image: var(--entpIcon);
    background-size: cover;
}

.planItem--entp .price,
.planItem--entp .featureList {
    --color: #fff;
}

.planItem--entp .featureList {
    --icon: var(--whiteTick);
}

.planItem .button {
    margin-top: auto;
}

.button {
    --bgColor: var(--pinkLight);
    --color: var(--pink);
    --shadowColor: rgba(0, 0, 0, 0.3);
    --outline: var(--pink);
    border-radius: 0.5rem;
    display: block;
    width: 100%;
    padding: 1rem 1.5rem;
    border: 0;
    line-height: inherit;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 600;
    background-color: var(--bgColor);
    color: var(--color);
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.button--pink {
    --bgColor: var(--pink);
    --color: #fff;
    --shadowColor: rgba(0, 0, 0, 0.3);
}

.button--white {
    --bgColor: #fff;
    --shadowColor: rgb(255 255 255 / 30%);
    --outline: #fff;
}

.button:hover {
    transform: translateY(-2px);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
}

.button:focus-visible {
    outline-offset: 2px;
    outline: 2px solid var(--outline);
}

.card {
    --titleColor: #000;
    --descColor: var(--baseColor);
}

.card__header {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.card__icon {
    width: 2.625rem;
    height: 2.625rem;
}

.card h2 {
    color: var(--titleColor);
    font-size: 1.5rem;
    line-height: 1.2;
    font-weight: 400;
    margin: 0;
    flex-grow: 1;
}

.card__desc {
    margin: 1.5rem 0 0;
    color: var(--descColor);
}

.label {
    --labelColor: var(--baseColor);
    --labelBg: #e5e5e5;
    font-weight: 600;
    line-height: 1.25;
    font-size: 1rem;
    text-align: center;
    padding: 0.625rem 1.125rem;
    border-radius: 2rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: var(--labelBg);
    color: var(--labelColor);
}

.price {
    --color: #000;
    --priceMargin: 0;
    display: flex;
    color: var(--color);
    align-items: center;
    gap: 0.5625rem;
    font-weight: 600;
    font-size: 2rem;
    margin: var(--priceMargin);
}

.price span {
    font-size: 1rem;
    font-weight: 400;
    color: var(--baseColor);
}

.featureList {
    --color: #000;
    --icon: var(--redTick);
    --height: 0.875rem;
    margin: 0 0 2.75rem;
    padding: 0;
    font-weight: 500;
}

.featureList li {
    color: var(--color);
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.featureList li:before {
    content: "";
    background-image: var(--icon);
    background-size: cover;
    display: block;
    width: 1.125rem;
    height: var(--height);
}

.featureList li:last-child {
    margin-bottom: 0;
}

.featureList li.disabled {
    --color: #b1b8c9;
    --height: 1.125rem;
    --icon: var(--close);
}

.symbol {
    --big: 2.625rem;
    --small: 1.5rem;
    --radius: 0.25rem;
    border: 2px solid var(--blue);
    width: var(--big);
    height: var(--big);
    border-radius: var(--radius);
    position: relative;
}

.symbol--rounded {
    --radius: 2rem;
}

.symbol:after {
    content: "";
    box-sizing: border-box;
    display: block;
    position: absolute;
    border: 2px solid var(--pink);
    width: var(--small);
    height: var(--small);
    border-radius: var(--radius);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* plans css  */

div#category_search_result,
div#country_search_result {
    position: absolute;
    top: 100%;
    background: white;
    padding: 10px;
    border-radius: 10px;
    width: calc(50% - 55px);
}

div#category_search_result {
    left: 0;
}

.searchOptionsInner {
    position: relative;
    z-index: 1;
}

div#country_search_result {
    left: calc(50% - 55px);
}

.searchOptionsInner select {
    border: none;
    max-height: 400px;
    outline: none;
    width: 100%;
}

.searchOptionsInner select option {
    height: 28px;
}

.searchCategories ul li .myCategory {
    color: black;
    line-height: 40px;
    font-weight: 600;
}

.dropOption ul li {
    position: relative;
}

.dropOption ul li span {
    position: absolute;
    background: white;
    z-index: 1;
    right: 10px;
    width: calc(100% - 20px);
    bottom: 0px;
    border-radius: 10px;
    padding: 5px 5px;
    font-size: 10px;
    border: 1px solid black;
    text-align: center;
    opacity: 0;
    transition: .5s;
}

.dropOption ul li:hover span {
    bottom: 100%;
    opacity: 1;
}

.dropOption ul li span:before {
    content: '';
    width: 10px;
    height: 10px;
    background: white;
    position: absolute;
    bottom: -5px;
    transform: rotate(45deg);
    left: 50%;
    margin-left: -5px;
}

.paymentSet {
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    padding: 10px 50px;
    max-width: 450px;
    margin: 0 auto;
    box-shadow: 0 0 10px silver;
    text-align: center;
}
@keyframes success {
    from {transform: scale(.8);}
    to {transform: scale(1);}
  }

.paymentSet span {
    animation: success 1s infinite;
    color: white;
    padding: 10px;
    width: 100px;
    height: 100px;
    margin: 30px auto;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    transition: .5s;
}

.paymentSet b {
    color: #1fc8ec;
}

.paymentSet a {
    background: #000000;
    margin: 15px 0 50px;
    display: block;
    padding: 10px;
    border-radius: 6px;
    color: white;
}